<div id="resetContainer">
    <div class="taskGroup">
        <mat-card id="title">
            <mat-card id="innerTitle">
                <div id="titleText">
                    <span>Password Reset</span>
                </div>
            </mat-card>
        </mat-card>
        <mat-card id="resetPassCard">
            <div id="formContainer">
                <form id="resetPasswordForm" [formGroup]="resetPasswordCtl">
                    <div>
                        <mat-form-field id="passwordInput" class="email-form-option" appearance="outline">
                            <mat-label>New password</mat-label>
                            <input matInput spellcheck="false" formControlName="password" autocomplete="new-password"
                                type="password">
                            <mat-error *ngIf="resetPasswordCtl.get('password').hasError('tooShort')">
                                Password must be at least 8 characters long.
                            </mat-error>
                            <mat-error *ngIf="resetPasswordCtl.get('password').hasError('missingUpper')">
                                Password must contain at least 1 uppercase character.
                            </mat-error>
                            <mat-error *ngIf="resetPasswordCtl.get('password').hasError('missingLower')">
                                Password must contain at least 1 lowercase character.
                            </mat-error>
                            <mat-error *ngIf="resetPasswordCtl.get('password').hasError('missingNumber')">
                                Password must contain at least 1 number.
                            </mat-error>
                            <mat-error *ngIf="resetPasswordCtl.get('password').hasError('required')">
                                Password is a required field.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="confirmPassInput" class="email-form-option" appearance="outline">
                            <mat-label>Confirm new password</mat-label>
                            <input matInput spellcheck="false" formControlName="confirmPass" autocomplete="off"
                                type="password" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="resetPasswordCtl.hasError('notSame')">
                                Passwords do not match.
                            </mat-error>
                        </mat-form-field>
                    </div>

                </form>
            </div>
        </mat-card>
        <mat-card id="submission">
            <button mat-button (click)="onSubmit(resetPasswordCtl.value)" [disabled]="resetDisabled">Submit</button>
        </mat-card>
        <div id="messageContainer">
            <span id="message" *ngIf="resultMessage" [ngClass]="successfulMessage ? 'success' : 'error'">
                {{ resultMessage }}
            </span>

        </div>
    </div>
</div>