<h2 mat-dialog-title i18n="@@REPORT_AN_ISSUE">Report an issue</h2>

<mat-dialog-content>
  
    <button class="mat-raised-button" (click)="incorrectTranslation()" i18n="@@INCORRECT_TRANSLATION">Incorrect Translation</button>
    <button class="mat-raised-button" (click)="wordPlacement()" i18n="@@WRONG_WORD_REPLACED">Wrong word replaced in sentence</button>
    <button class="mat-raised-button" (click)="offensive()" i18n="@@OFFENSIVE_CONTENT">Offensive/Inappropriate content</button>
 
</mat-dialog-content>
