<div id="forgotPasswordContainer">
    <div class="taskGroup">
        <mat-card id="title">
            <mat-card id="innerTitle">
                <div id="titleText">
                    <span i18n="@@GET_LINK_FORGOT_PASS">Get a link to reset your password</span>
                </div>
            </mat-card>
        </mat-card>
        <mat-card id="forgotPasswordCard">
            <div id="formContainer">
                <form id="contactForm" [formGroup]="forgotPasswordCtl">
                    <div>
                        <mat-form-field id="emailinput" class="email-form-option" appearance="outline">
                            <mat-label i18n="@@EMAIL">Email</mat-label>
                            <input matInput spellcheck="false" formControlName="email" autocomplete="off">
                            <mat-placeholder class="placeholder" i18n="@@EMAIL">Email</mat-placeholder>
                            <mat-error *ngIf="forgotPasswordCtl.get('email').hasError('email')" i18n="@@INVALID_EMAIL_WARNING">
                                Please enter a valid email address.
                            </mat-error>
                            <mat-error *ngIf="forgotPasswordCtl.get('email').hasError('required')" i18n="@@EMAIL_REQUIRED_FIELD">
                                Email is a required field.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        </mat-card>
        <mat-card id="submission">
            <button mat-button (click)="onSubmit(forgotPasswordCtl.value)" [disabled]="submitEmailDisabled" i18n="@@SUBMIT">Submit</button>
        </mat-card>
        <div id="messageContainer">
            <span id="message" *ngIf="resultMessage" [ngClass]="successfulMessage ? 'success' : 'error'">
                {{ resultMessage }}
            </span>

        </div>
    </div>
</div>