<div id="loginContainer">
    <div class="taskGroup">
        <mat-card id="title">
            <mat-card id="innerTitle">
                <div id="titleText">
                    <span i18n="@@LOGIN">Login</span>
                </div>
            </mat-card>
        </mat-card>
        <mat-card id="loginCard">
            <div id="formContainer">
                <form id="contactForm" [formGroup]="logInFormCtl" (ngSubmit)="onSubmit(logInFormCtl.value)">                    
                    <div>
                        <mat-form-field id="emailinput" class="email-form-option"  appearance="outline">
                            <mat-label i18n="@@EMAIL">Email</mat-label>
                            <input matInput spellcheck="false" formControlName="email" autocomplete="off" >
                            <mat-placeholder class="placeholder" i18n="@@EMAIL">Email</mat-placeholder>
                            <mat-error *ngIf="logInFormCtl.get('email').hasError('email')" i18n="@@INVALID_EMAIL_WARNING">
                                Please enter a valid email address.
                            </mat-error>
                            <mat-error *ngIf="logInFormCtl.get('email').hasError('required')" i18n="@@EMAIL_REQUIRED_FIELD">
                                Email is a required field.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field id="passwordInput" class="email-form-option" appearance="outline">
                            <mat-label i18n="@@PASSWORD">Password</mat-label>
                            <input matInput spellcheck="false" formControlName="password" autocomplete="off" type="password" >
                            <mat-error *ngIf="logInFormCtl.get('password').hasError('required')" i18n="@@PASSWORD_REQUIRED_FIELD">
                                Password is a required field.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </form>
            </div>
        
        </mat-card>
        <mat-card id="submission">
            <button mat-button (click)="onSubmit(logInFormCtl.value)" [disabled]="logInDisabled" i18n="@@SUBMIT">Submit</button>
        </mat-card>
        <div id="messageContainer">
            <span id="message" *ngIf="resultMessage">
                {{ resultMessage }}
            </span>

        </div>
        <div id="redirectForgotPassword" class="formLine">
            <span>
                <a href="forgotPassword" i18n="@@I_FORGOT_MY_PASSWORD">I forgot my password</a>
            </span>
        </div>
        <div id="redirectLogin" class="formLine">
            <span>
                <a href="register" i18n="@@DONT_HAVE_ACCOUNT">Don't have an account? Create one</a>
            </span>
        </div>
       
    </div>
</div>
